.proyecto-desk {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .proyecto-desk .div {
    background-color: #ffffff;
    height: 2584px;
    overflow: hidden;
    position: relative;
    width: 1200px;
  }
  
  .proyecto-desk .overlap-group {
    height: 2494px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 1200px;
  }
  
  .proyecto-desk .rectangle {
    background-color: #ffffff1f;
    height: 1px;
    left: 0;
    position: absolute;
    top: 41px;
    width: 1200px;
  }
  
  .proyecto-desk .rectangle-2 {
    background-color: #ffffff;
    height: 1181px;
    left: 0;
    position: absolute;
    top: 395px;
    width: 1200px;
  }
  
  .proyecto-desk .rectangle-3 {
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 3px;
    height: 425px;
    left: 0;
    position: absolute;
    top: 606px;
    width: 384px;
  }
  
  .proyecto-desk .IMAGE {
    height: 219px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 627px;
    width: 342px;
  }
  
  .proyecto-desk .rectangle-4 {
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 3px;
    height: 425px;
    left: 408px;
    position: absolute;
    top: 606px;
    width: 384px;
  }
  
  .proyecto-desk .img {
    height: 219px;
    left: 429px;
    object-fit: cover;
    position: absolute;
    top: 627px;
    width: 342px;
  }
  
  .proyecto-desk .rectangle-5 {
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 3px;
    height: 425px;
    left: 816px;
    position: absolute;
    top: 606px;
    width: 384px;
  }
  
  .proyecto-desk .IMAGE-2 {
    height: 219px;
    left: 837px;
    object-fit: cover;
    position: absolute;
    top: 627px;
    width: 342px;
  }
  
  .proyecto-desk .rectangle-6 {
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 3px;
    height: 425px;
    left: 0;
    position: absolute;
    top: 1051px;
    width: 384px;
  }
  
  .proyecto-desk .IMAGE-3 {
    height: 219px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 1072px;
    width: 342px;
  }
  
  .proyecto-desk .rectangle-7 {
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 3px;
    height: 425px;
    left: 408px;
    position: absolute;
    top: 1051px;
    width: 384px;
  }
  
  .proyecto-desk .IMAGE-4 {
    height: 219px;
    left: 429px;
    object-fit: cover;
    position: absolute;
    top: 1072px;
    width: 342px;
  }
  
  .proyecto-desk .rectangle-8 {
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 3px;
    height: 425px;
    left: 816px;
    position: absolute;
    top: 1051px;
    width: 384px;
  }
  
  .proyecto-desk .IMAGE-5 {
    height: 219px;
    left: 837px;
    object-fit: cover;
    position: absolute;
    top: 1072px;
    width: 342px;
  }
  
  .proyecto-desk .IMAGE-6 {
    height: 545px;
    left: 0;
    position: absolute;
    top: 1543px;
    width: 1200px;
  }
  
  .proyecto-desk .rectangle-9 {
    background-color: #fafafa;
    border: 1px solid;
    border-color: #dddddd;
    border-radius: 2px;
    height: 48px;
    left: 275px;
    position: absolute;
    top: 1779px;
    width: 235px;
  }
  
  .proyecto-desk .rectangle-10 {
    background-color: #fafafa;
    border: 1px solid;
    border-color: #dddddd;
    border-radius: 2px;
    height: 48px;
    left: 520px;
    position: absolute;
    top: 1779px;
    width: 235px;
  }
  
  .proyecto-desk .rectangle-11 {
    background-color: #cb4154;
    border-radius: 5px;
    height: 47px;
    left: 765px;
    position: absolute;
    top: 1779px;
    width: 160px;
  }
  
  .proyecto-desk .rectangle-12 {
    height: 411px;
    left: 0;
    position: absolute;
    top: 2082px;
    width: 1200px;
  }
  
  .proyecto-desk .frame {
    height: 25px;
    left: 30px;
    position: absolute;
    top: 2422px;
    width: 25px;
  }
  
  .proyecto-desk .frame-2 {
    height: 25px;
    left: 77px;
    position: absolute;
    top: 2422px;
    width: 25px;
  }
  
  .proyecto-desk .frame-3 {
    height: 25px;
    left: 124px;
    position: absolute;
    top: 2422px;
    width: 25px;
  }
  
  .proyecto-desk .frame-4 {
    height: 25px;
    left: 171px;
    position: absolute;
    top: 2422px;
    width: 25px;
  }
  
  .proyecto-desk .rectangle-13 {
    background-color: #f2f2f21c;
    height: 1px;
    left: 0;
    position: absolute;
    top: 2493px;
    width: 1200px;
  }
  
  .proyecto-desk .text-wrapper {
    color: #fafafa;
    font-family: "Karla-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: 27.9px;
    position: absolute;
    top: 0;
    width: 101px;
  }
  
  .proyecto-desk .text-wrapper-2 {
    color: #ffffff;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 58px;
    font-weight: 400;
    left: 475px;
    letter-spacing: 0;
    line-height: 75.4px;
    position: absolute;
    text-align: center;
    top: 169px;
    width: 250px;
  }
  
  .proyecto-desk .text-wrapper-3 {
    color: #cb4154;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 22.1px;
    position: absolute;
    top: 494px;
    width: 111px;
  }
  
  .proyecto-desk .text-wrapper-4 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 38px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 49.4px;
    position: absolute;
    top: 525px;
    width: 393px;
  }
  
  .proyecto-desk .text-wrapper-5 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 874px;
    width: 218px;
  }
  
  .proyecto-desk .p {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 921px;
    width: 325px;
  }
  
  .proyecto-desk .text-wrapper-6 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 429px;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 874px;
    width: 143px;
  }
  
  .proyecto-desk .text-wrapper-7 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 429px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 921px;
    width: 325px;
  }
  
  .proyecto-desk .text-wrapper-8 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 837px;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 874px;
    width: 142px;
  }
  
  .proyecto-desk .text-wrapper-9 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 837px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 921px;
    width: 325px;
  }
  
  .proyecto-desk .text-wrapper-10 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 1319px;
    width: 218px;
  }
  
  .proyecto-desk .text-wrapper-11 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 1366px;
    width: 325px;
  }
  
  .proyecto-desk .text-wrapper-12 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 429px;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 1319px;
    width: 231px;
  }
  
  .proyecto-desk .text-wrapper-13 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 429px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 1366px;
    width: 325px;
  }
  
  .proyecto-desk .text-wrapper-14 {
    color: #131d3b;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 837px;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 1319px;
    width: 186px;
  }
  
  .proyecto-desk .text-wrapper-15 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 837px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 1366px;
    width: 325px;
  }
  
  .proyecto-desk .text-wrapper-16 {
    color: #cb4154;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 530px;
    letter-spacing: 0;
    line-height: 22.1px;
    position: absolute;
    text-align: center;
    top: 1575px;
    width: 141px;
  }
  
  .proyecto-desk .text-wrapper-17 {
    color: #ffffff;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 38px;
    font-weight: 400;
    left: 336px;
    letter-spacing: 0;
    line-height: 49.4px;
    position: absolute;
    text-align: center;
    top: 1616px;
    width: 528px;
  }
  
  .proyecto-desk .text-wrapper-18 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    left: 288px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    text-align: center;
    top: 1691px;
    width: 624px;
  }
  
  .proyecto-desk .send {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 824px;
    letter-spacing: 1px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 1792px;
    width: 43px;
  }
  
  .proyecto-desk .text-wrapper-19 {
    color: #cb4154;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: 27.3px;
    position: absolute;
    top: 2126px;
    width: 141px;
  }
  
  .proyecto-desk .text-wrapper-20 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2206px;
    width: 204px;
  }
  
  .proyecto-desk .text-wrapper-21 {
    color: #cb4154;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 2126px;
    width: 135px;
  }
  
  .proyecto-desk .text-wrapper-22 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2185px;
    width: 107px;
  }
  
  .proyecto-desk .text-wrapper-23 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2216px;
    width: 128px;
  }
  
  .proyecto-desk .text-wrapper-24 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2247px;
    width: 54px;
  }
  
  .proyecto-desk .text-wrapper-25 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2278px;
    width: 29px;
  }
  
  .proyecto-desk .text-wrapper-26 {
    color: #cb4154;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 651px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 2126px;
    width: 136px;
  }
  
  .proyecto-desk .text-wrapper-27 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 651px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2185px;
    width: 128px;
  }
  
  .proyecto-desk .text-wrapper-28 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 651px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2216px;
    width: 87px;
  }
  
  .proyecto-desk .text-wrapper-29 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 651px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2247px;
    width: 91px;
  }
  
  .proyecto-desk .text-wrapper-30 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 651px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2278px;
    width: 144px;
  }
  
  .proyecto-desk .text-wrapper-31 {
    color: #cb4154;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 961px;
    letter-spacing: 0;
    line-height: 27.3px;
    position: absolute;
    top: 2126px;
    width: 149px;
  }
  
  .proyecto-desk .text-wrapper-32 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 961px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2200px;
    width: 161px;
  }
  
  .proyecto-desk .text-wrapper-33 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 961px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 2268px;
    width: 184px;
  }
  
  .proyecto-desk .rectangle-14 {
    background-color: #2757d0;
    height: 405px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1200px;
  }
  
  .proyecto-desk .text-wrapper-34 {
    color: #ffffff;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 58px;
    font-weight: 400;
    left: 469px;
    letter-spacing: 0;
    line-height: 75.4px;
    position: absolute;
    text-align: center;
    top: 169px;
    width: 263px;
  }
  
  .proyecto-desk .text-wrapper-35 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 406px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 39px;
    width: 43px;
  }
  
  .proyecto-desk .text-wrapper-36 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 475px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 40px;
    white-space: nowrap;
  }
  
  .proyecto-desk .text-wrapper-37 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 567px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 39px;
    width: 59px;
  }
  
  .proyecto-desk .text-wrapper-38 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 652px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 39px;
    width: 52px;
  }
  
  .proyecto-desk .text-wrapper-39 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 730px;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    top: 39px;
    width: 65px;
  }
  
  .proyecto-desk .overlap {
    background-color: #fafafa;
    box-shadow: 0px 0px 34px #0000001a;
    height: 800px;
    left: -1080px;
    position: absolute;
    top: 0;
    width: 1080px;
  }
  
  .proyecto-desk .rectangle-15 {
    background-color: #eaeaea;
    height: 3px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 86px;
  }
  
  .proyecto-desk .rectangle-16 {
    background-color: #eaeaea;
    height: 35px;
    left: 86px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-17 {
    background-color: #eaeaea;
    height: 1px;
    left: 0;
    position: absolute;
    top: 88px;
    width: 86px;
  }
  
  .proyecto-desk .rectangle-18 {
    background-color: #eaeaea;
    height: 3px;
    left: 86px;
    position: absolute;
    top: 50px;
    width: 86px;
  }
  
  .proyecto-desk .rectangle-19 {
    background-color: #eaeaea;
    height: 35px;
    left: 83px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-20 {
    background-color: #eaeaea;
    height: 35px;
    left: 172px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-21 {
    background-color: #eaeaea;
    height: 1px;
    left: 86px;
    position: absolute;
    top: 88px;
    width: 86px;
  }
  
  .proyecto-desk .rectangle-22 {
    background-color: #eaeaea;
    height: 3px;
    left: 172px;
    position: absolute;
    top: 50px;
    width: 105px;
  }
  
  .proyecto-desk .rectangle-23 {
    background-color: #eaeaea;
    height: 35px;
    left: 169px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-24 {
    background-color: #eaeaea;
    height: 35px;
    left: 277px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-25 {
    background-color: #eaeaea;
    height: 1px;
    left: 172px;
    position: absolute;
    top: 88px;
    width: 105px;
  }
  
  .proyecto-desk .rectangle-26 {
    background-color: #eaeaea;
    height: 3px;
    left: 277px;
    position: absolute;
    top: 50px;
    width: 102px;
  }
  
  .proyecto-desk .rectangle-27 {
    background-color: #eaeaea;
    height: 35px;
    left: 274px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-28 {
    background-color: #eaeaea;
    height: 35px;
    left: 379px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-29 {
    background-color: #eaeaea;
    height: 1px;
    left: 277px;
    position: absolute;
    top: 88px;
    width: 102px;
  }
  
  .proyecto-desk .rectangle-30 {
    background-color: #eaeaea;
    height: 3px;
    left: 379px;
    position: absolute;
    top: 50px;
    width: 125px;
  }
  
  .proyecto-desk .rectangle-31 {
    background-color: #eaeaea;
    height: 35px;
    left: 376px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-32 {
    background-color: #eaeaea;
    height: 35px;
    left: 504px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .rectangle-33 {
    background-color: #eaeaea;
    height: 1px;
    left: 379px;
    position: absolute;
    top: 88px;
    width: 125px;
  }
  
  .proyecto-desk .book-a-call-wrapper {
    background-color: #cb4154;
    border-radius: 5px;
    height: 47px;
    left: 0;
    position: absolute;
    top: 119px;
    width: 162px;
  }
  
  .proyecto-desk .book-a-call {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 1px;
    line-height: 15px;
    position: absolute;
    top: 13px;
    width: 98px;
  }
  
  .proyecto-desk .text-wrapper-40 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 54px;
    width: 46px;
  }
  
  .proyecto-desk .text-wrapper-41 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 106px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 54px;
    width: 46px;
  }
  
  .proyecto-desk .text-wrapper-42 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 192px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 54px;
    width: 65px;
  }
  
  .proyecto-desk .text-wrapper-43 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 297px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 54px;
    width: 62px;
  }
  
  .proyecto-desk .text-wrapper-44 {
    color: #ffffffbf;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 399px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: 54px;
    width: 85px;
  }
  
  .proyecto-desk .frame-5 {
    height: 17px;
    left: 480px;
    position: absolute;
    top: 2878px;
    width: 17px;
  }
  
  .proyecto-desk .rectangle-34 {
    background-color: #eaeaea;
    height: 35px;
    left: -1083px;
    position: absolute;
    top: 53px;
    width: 3px;
  }
  
  .proyecto-desk .frame-6 {
    height: 23px;
    left: -569px;
    position: absolute;
    top: 2954px;
    width: 23px;
  }
  
  .proyecto-desk .frame-7 {
    height: 23px;
    left: -519px;
    position: absolute;
    top: 2954px;
    width: 23px;
  }
  
  .proyecto-desk .frame-8 {
    height: 23px;
    left: -469px;
    position: absolute;
    top: 2954px;
    width: 23px;
  }
  
  .proyecto-desk .frame-9 {
    height: 23px;
    left: -419px;
    position: absolute;
    top: 2954px;
    width: 23px;
  }
  
  .proyecto-desk .div-wrapper {
    background-color: #2757d0;
    height: 80px;
    left: 0;
    position: absolute;
    top: 2504px;
    width: 1200px;
  }
  
  .proyecto-desk .text-wrapper-45 {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 159px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 258px;
  }
  
  .proyecto-desk .text-wrapper-46 {
    color: #131d3b;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: -1px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: -169997px;
    width: 61px;
  }
  
  .proyecto-desk .text-wrapper-47 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: -99724px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: -98222px;
    width: 51px;
  }
  
  .proyecto-desk .text-wrapper-48 {
    color: #ff0000;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: -99673px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: -98222px;
    width: 7px;
  }
  
  .proyecto-desk .text-wrapper-49 {
    color: #171717;
    font-family: "Karla-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: -99479px;
    letter-spacing: 0;
    line-height: 31.6px;
    position: absolute;
    top: -98222px;
    width: 117px;
  }
  